# Java-related files
*.class
*.war
*.ear
*.iml

*.jar

# Maven-related
target/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup

# IDE files
.vscode/
.vscode-server/
.idea/
*.ipr
*.iws
*.iml

# Dev Container files
.devcontainer/.env
.devcontainer/.devcontainer.env

# OS junk
.DS_Store
Thumbs.db

# Temp + swap files
*.tmp
*.temp
*.swp
*.swo

# Logs and debug
*.log
*.out
*.err

# Generated directories
bin/
gen/

# Environment files
.env
.env.*
